@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-container {
  background-color: rgb(247, 230, 230);
  width: 400px;
  height: 90%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  position: relative;
  outline: 2px solid rgb(122, 122, 122);
}

.top-nav {
  height: 40px;
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgb(247, 77, 77);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}

.home-page {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: relative;
}

.home-page::-webkit-scrollbar {
  display: none;
}

.content-box {
  padding: 10px;
  width: 100%;
  min-height: 20%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5px;
  overflow: hidden;
  border-bottom: 0.5px solid rgb(221, 221, 221);
  position: relative;
}

.content-box:active {
  background-color: rgb(243, 243, 243);
}

.content-box img {
  width: 100%;
  height: 13vh;
  object-fit: cover;
  transition: 0.3s;
  pointer-events: none;
}

.content-box:active img {
  transform: scale(1.1);
}

.content-box h1 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.content-box h2 {
  font-weight: 500;
}

.content-box:hover h1 {
  color: rgb(247, 77, 77);
  cursor: pointer;
}

.bottom-nav {
  height: 50px;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 77, 77);
  transition: 0.3s;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
  position: relative;
  border-radius: 50%;
}

.ln {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 1.2rem;
  background-color: rgb(247, 77, 77);
  display: inline;
  padding: 0 5px;
}

.post-active {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  z-index: 6;
  overflow: scroll;
  transform: translateY(100%);
  transition: 0.4s;
}

.post-active::-webkit-scrollbar {
  display: none;
}

.cover-image {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-bottom: 5px solid rgb(247, 77, 77);
}

.post-active img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.post-active-img {
  width: 100%;
  height: 30vh;
  position: relative;
  border-bottom: 3px solid rgb(247, 77, 77);
}

.post-body {
  padding: 15px;
}

.post-body p {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.616);
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}

.buttons {
  width: 100%;
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.overlay h1 {
  color: white;
  font-size: 1.3rem;
}

.imp-news {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  padding: 0 10px;
  margin-top: 45px;
}

.imp-news::-webkit-scrollbar {
  display: none;
}

.content {
  min-width: 150px;
  height: 250px;
  background-color: rgb(122, 122, 122);
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 5px;
}

.content img {
  width: 150px;
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
  pointer-events: none;
}

.content:active img {
  transform: scale(1.1);
}

.content::after {
  content: "Lorem ipsum dolor sit amet consectetur.";
  line-height: 20px;
  font-size: 0.8rem;
  color: white;
  display: flex;
  align-items: flex-end;
  font-weight: 700;
  padding: 5px;
  width: 150px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.589);
  position: absolute;
  left: 0;
  top: -10px;
  pointer-events: none;
}

.post-img {
  overflow: hidden;
  margin-bottom: 5px;
  pointer-events: none;
}

.post-header {
  font-size: 0.6rem;
  margin-bottom: 10px;
  pointer-events: none;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 0.5rem;
  align-items: flex-end;
  color: rgb(122, 122, 122);
  margin-bottom: 10px;
  pointer-events: none;
}

.hits {
  position: absolute;
  color: white;
  padding: 5px 10px;
  background-color: rgb(247, 113, 113);
  border-radius: 5px;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.feed-text {
  background: white;
  font-size: 1.5rem;
  padding-left: 10px;
  color: rgb(247, 77, 77);
}

.bookmark {
  position: absolute;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  right: 15px;
  top: 20px;
  font-size: 1.4rem;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.658);
  z-index: 2;
}

.right-menu {
  width: 70%;
  height: 100%;
  background-color: rgb(247, 77, 77);
  position: absolute;
  z-index: 8;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: 0.2s;
  border-left: 3px solid white;
}

.bl {
  transition: 0.2s;
}

.bl-active {
  transform: scale(1.1);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: rgb(247, 113, 113);
  border-radius: 50%;
}

.bl-active::after {
  content: attr(data-value);
  font-size: 0.6rem;
  position: absolute;
  bottom: 0px;
}

.fun-fact {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  z-index: 7;
  display: flex;
  align-items: flex-end;
  transform: translateY(-100%);
  transition: 0.3s;
}

.overlay-ff {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 7;
}

.fun-fact img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.fun-fact h1 {
  padding: 15px;
  font-size: 1.2rem;
  color: white;
  position: relative;
  z-index: 8;
}

@media (max-width: 768px) {
  .mobile-container {
    height: 100%;
    width: 100%;
  }

  .content-box img {
    height: 30vh;
  }
}

@media (max-width: 480px) {
  .mobile-container {
    height: 100vh;
    width: 100%;
  }

  .content-box img {
    height: 18vh;
  }

  .screen-bottom {
    position: absolute;
  }
}
